/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
	.navbar {
		flex-direction: column;
	}
}

/*==============================================*/

/* POLICES */

@font-face {
   font-family: 'Roboto-Light', Arial, 'Sans serif';
   src: url(../fonts/Roboto-Light.ttf);
}

/*==============================================*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
	color: #000;
	font-family: 'roboto-light', Arial, serif;
	font-size: 1em;
	line-height: 1.4;
	width: 100%;
}

header a {
	padding: 0 10px;
}

/*---------------- STYLE DE LA BARRE DE NAVIGATION PRINCIPALE  ------------------*/

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 6em;
	display: flex;
	align-items: center;
	background: #fff;
	justify-content: space-around;
	flex-wrap: wrap;
	z-index: 1000;
}

#logo {
	margin-right: 25%;
}

#main_nav {
	margin-right: 5%;
}

li {
	list-style: none;
	display: inline;
}

li a {
	text-decoration: none;
	color: #000;
	padding-top: 60%;
}

.main_nav a:hover {
	border-top: 3px solid #5cadd3;     /* ----> NE FONCTIONNE PAS ----- */
}

/*---------------- STYLE DU CAROUSEL  ------------------*/
#main {
	max-width: 1920px;
	margin: auto;
}

.container {      /* Correspond à l'ensemble du slider  */
	position: relative;
	height: 500px;
	width: 100%;
	padding-top: 6em;
}

.slides {           /* Correspond à la DIV qui englobe l'image   */
	position: absolute;
	width: inherit;
}

.slide img {           /* Correspond à l'iamge  */
	float: left;
	width: 100%;
	height: auto;
}

.slide p {
	color: #fff;
}

.slides figcaption {
	position: absolute;
	z-index: 10;
	top: 30%;
	bottom: 0;
	left: 10%;
	width: 50%;
}

#fille h1 {
	font-size: 2rem;
	font-weight: 900;
	color: #fff;
	margin: 0;
	line-height: 1;
	text-transform: uppercase;
	padding: 2% 0 ;
}

.button {
	background-color: #5cadd3;
	font-weight: bolder;
	color: #fff;
	opacity: 0.8;
	padding: 1%;
	text-decoration: none;
}

.left,
.right {
	z-index: 900; 
	top: 40%;
	position: absolute;
	color: #fff;  
	font-size: 1rem;
	text-decoration: none;
}

.right {
	padding: 20px 10px 20px 20px;
	right: 0;
	background-color: rgba(0,0,0,0.3);
	border-radius: 50% 0 0 50%;
}

.left {
	padding: 20px 20px 20px 10px;
	left: 0;
	background-color: rgba(0,0,0,0.3);
	border-radius: 0 50% 50% 0;
}

.right:hover {
	background-color: rgba(255,255,255,0.3);
	border-radius: 50% 0 0 50%;
}

.left:hover {
	background-color: rgba(255,255,255,0.3);
	border-radius: 0 50% 50% 0;
}

/*---------------- STYLE NOS SERVICES  ------------------*/

i {
	color: #5cadd3;
	font-size: 1.5rem;
}

h1 span {
	color: #5cadd3;
}

h2 {
	text-transform: uppercase;
	font-size: 3rem;
	margin-bottom: 15px;
}
       /* Style de la ligne et du point en décoration sous les titres  */
hr {
	background-color: lightgrey;
	position: relative;
	height: 1px;
	width: 60%;
	display: inline-block;
}

.middle_point {
	position: absolute;
	z-index: 20;
	background-color: #5cadd3;
	border: 3px solid #fff;
	height: 2%;
	width: 1%;
	border-radius: 100%;
}

.title_decoration {
	display: flex;
	width: 10%;
	margin: auto;
	margin-top: 0;
	margin-bottom: 2%;
	align-items: center;
	justify-content: center;
}

     /* -------------------------------- FIN -----------------------------  */

.nos_services,
.nos_projets {
	text-align: center;
}

.services,
.projets {
	display: flex;
	flex-wrap: wrap;
}

.section_ss-titre {
	font-size: 1.2rem;
	width: 50%;
	margin: auto;
}

.img_ecran {
	width: 50%;
}

.img_ecran img {
	width: 80%;
	margin: auto;
	margin-left: 15%;
	padding-top: 4%;
}

       /* Style de la liste des services proposés avec les icones sur la gauche  */

.services_list {
	width: 50%;
	display: flex;
	padding-top: 8%;
}

.services_list li {
	display: flex;
	padding-top: 3%;
}

h3 {
	margin-top: 0;
	margin-bottom: 10px;
}

.icon_left {
	position: relative;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 17px;
}

.icon .fas {
	border: 1px solid lightgrey;
	border-radius: 50%;
	padding: 15px;
}

.blue_dot {
	position: absolute;
	right: -10px;
	font-size: 4em;
	background-color: #5cadd3;
	border: 3px solid #fff;
	height: 2%;
	width: 1%;
	border-radius: 100%;
	padding: 7%;
}

.icon {
	font-size: 2em;
	color: #5cadd3;
	margin-right: 10px;
}

.UX, .UI, .SEO {
	width: 60%;
	margin-left: 5%;
}

     /* -------------------------------- FIN -----------------------------  */

#services {
	padding-top: 20%;
	padding-bottom: 8%;
}

#projets,
#contact {
	padding-top: 6%;
}

/*---------------- STYLE NOS PROJETS  ------------------*/

#projets {
	background-color: #f2f2f2;
}

       /* Style de la barre de navigation des projets   */

.nav_projets {
	display: grid;
	grid-template-columns: max-content max-content max-content max-content;
	grid-template-rows: auto auto;
	grid-gap: 0;
	margin-top: 3%;
	justify-content: center;
	text-align: center;
	border-radius: 2%;
}

.nav_projets a {
	padding: 10px 15px;
	font-size: 1rem;
	background-color:lightgrey;
	text-decoration: none;
	color: #000;
}

.nav_projets a:hover, #one {
	display: content; 
	border-bottom: 4px solid #468CAD;
	background-color: #5cadd3;
	color: #fff;
}

/* .nav_projets a:nth-child(1):hover{
    border-radius: 5px 0px 0px 5px;
}

.nav_projets a:nth-child(4):hover{
    border-radius: 0px 5px 5px 0px;
} */

.arrow_down {
	display: none!important;
	margin: 10px 50px;
	border:none;
	border-top:10px solid #468CAD;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	align-items: center;
}

#two, #three, #four {
	visibility: hidden;
}

     /* -------------------------------- FIN -----------------------------  */

.projets {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-around;
	margin-top: 4%;
}

.projets i {
	color: #fff;
}

.projets img {
	max-width: 400px;
}

.projets figure {
	position: relative;
	z-index: 1;
	padding-bottom: 3%;
}

.projets figcaption {
	position: absolute;
	z-index: 10;
	padding-top: 30px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	visibility: hidden;
}

.projets figure:hover figcaption {
 	bottom: 19%; 
	visibility: visible;
}

.projets figcaption h3,
.projets figcaption p {
	color: #fff;
	padding-left: 10px;
	font-size: 1.2em;
	line-height: 0.7;
	padding-bottom: 5%;
}

.projets figcaption h3 {
	font-weight: bold;
}

.eye {
	position: absolute;
	top: -20%;
	right: 15px;
	padding: 10px;
	font-size: 1em;
	border: 2px solid #fff;
	border-radius: 50%;
	background: #5cadd3;
}

/*---------------- STYLE CONTACT  ------------------*/

#contact {
	position: relative;
}

     /* ---------------------- Style de la carte Google ----------------  */

iframe {
	position: relative;
	top: 0;
	width: 100%;
	height: 800px;
	z-index: 10;
}

.map_overlay {
	position: absolute;
	top: 100px;
	width: 100%;
	height: 800px;
	background-color: rgb(105, 198, 231);
	opacity: 0.3;
	z-index: 100;
}

     /* -------------------------  Style du formulaire  -------------------  */

form {
	position: absolute;
	z-index: 900;
	height: 70%;
	width: 23%;
	right: 10%;
	top: 20%;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 20px;
}

.contact_info h3 {
	font-size: 1.5rem;
	font-weight: 800;
}

address {
	font-size: 1rem;
	font-style: normal;
}

#nameinput,
#emailinput,
#subjectinput {
	width: 100%;
	border: 1px solid lightgray;
	border-radius: 10%;
	line-height: 2em;
	padding: 2%;
	margin: 3% 0;
}

textarea {
	font-family: 'Roboto-Light', Arial, 'Sans serif';
	width: 100%;
	border: 1px solid lightgray;
	border-radius: 3%;
	line-height: 2em;
	padding: 2%;
	margin: 3% 0;
}

.send {
	background-color: #5cadd3;
	border: 1px solid #5cadd3;
	border-bottom: 4px solid #468CAD;
	border-radius: 10%;
	color: #fff;
	font-weight: bold;
	padding: 5px 10px;
}
